body{
    font-family: 'Open Sans', sans-serif;
    color:#7581a1;
    font-size: 16px;
    line-height: 26px;
}

a{
    text-decoration: none;
}
h1{
    font-size: 80px;
    font-weight: 600;
    color: #192b59;
    max-width: 540px;
    line-height: 90px;
    letter-spacing: -2.5px;
    margin-bottom: 65px;
}    
.title-h2{
    font-size: 50px;
    font-weight: 600;
    color:#192b59;
    letter-spacing: -1.5px;
    line-height: 1.2;
    
}
.title-h2 span{
    display: block;
    font-size: 16px;
    font-weight: 800;
    color: #1085e4;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 14px;
    
}
.title-40{
    font-size: 40px;
    letter-spacing: -1.1px;
    font-weight: 600;
    color:#192b59;
    line-height: 1.2;
}
.title-40 span{
    display: block;
    font-size: 18px;
    font-weight: 800;
    color: #1085e4;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 3.5px;
}

.page-stat .title-h2, .page-screen .title-h2{
    text-align: center;
    margin:0 auto;
    
}
.page-stat .title-h2{
    max-width:500px;    
}
.page-subscribe .title-h2{
color: #fff;
margin-top:0;
margin-bottom:25px
}
.page-subscribe .title-h2 span{
    font-size:14px;
}
.content-app .title-h2{
    margin-bottom:36px;
   
}
.wrap{
    max-width: 1110px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.box-header{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom:305px;
}
.logo{
    display: block;
    background-image: url(../img/logo.png);
    width:181px;
    height:49px;
}

.nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size:12px;
    font-weight: 700;
    text-transform: uppercase;
    list-style-type:none;
    margin: 0;
    padding: 0;
}
.nav>li{
    padding:0 20px;
}
.nav>li:last-child{
    padding-right:0;
}
.nav-item{
    color: #6e7ea9;
    letter-spacing: 2px;
}
.nav-modal{
    font-size:12px;
    font-weight: 700;
    text-transform: uppercase;
    list-style-type: none;
    margin:0;
    padding:0;
}
.nav-modal>li {
    margin-bottom: 12px;
}
.nav-modal>li:last-child {
    margin-top: 35px;
}
.nav-item .btn-primary{
    margin-top: 70px;
}
.screen-img{
    display: block;
    position: absolute;
    background: url(../img/header-screen.png) no-repeat;
    width: 885px;
    height: 735px;
    right: -254px;
    top: 198px;
    
}
.btn-menu{
    border:none;
    background-color: transparent;
    display: none;
}
.btn-menu:focus{
    outline:none;
       
}
.btn-menu svg{
    width: 35px;
    height: 35px;
    fill: #192b59;
     
}
.btn-primary{
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    background-color: #1085e4;
    padding: 20px 40px;
    border-radius: 30px;
    border:1px solid #1085e4;
    -webkit-transition:0.3s;
    transition:0.3s;
}
.btn-primary:hover{
    color:#1085e4;
    background-color: transparent;
}

.btn-secondary{
    color: #7e8bae;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #cbdbe8;
    padding: 21px 40px;
    border-radius: 30px;
    letter-spacing: 2.5px;
    border:1px solid #cbdbe8;
    -webkit-transition:0.3s;
    transition:0.3s;
}
.btn-secondary:hover{
    
    background-color: #fff;
}
.btn-group a + a{
    margin-left: 15px;
}
.btn-close{
    position: absolute;
    border:none;
    background-color: transparent;
    top:15px;
    right: 21px;
    font-size:35px;
    color: #192b59;
    opacity:0.2;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.btn-close:hover{
    opacity:1;
}
.btn-close:focus{
    outline:none;
}

.modal{
    position: relative;
    display: none;
    position: fixed;
    z-index: 1000;
    max-width: 800px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #f1f1f1;
    margin:0 auto;
    left:0;
    right:0;
    top:30px;
    padding: 30px 15px 45px 15px;
    -webkit-box-shadow: 0 5px #f4f4f4;
            box-shadow: 0 5px #f4f4f4;
    border-radius: 10px;
}
.list-company{
    margin:0;
    padding:0;
    list-style-type: none;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1110px;
    margin: 0 auto;   
    -webkit-box-align: center;   
        -ms-flex-align: center;   
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left:15px;
    padding-right:15px; 
}
.company-one{
    -ms-flex-preferred-size:25%;
        flex-basis:25%;
}
.company-two{
    -ms-flex-preferred-size:25%;
        flex-basis:25%;
}
.company-three{
    -ms-flex-preferred-size:25%;
        flex-basis:25%;
}
.company-four{
    -ms-flex-preferred-size:25%;
        flex-basis:25%;
}
.list-company-item span{
display:block;
}
.company-one span{
background:url(../img/token.png) no-repeat; 
width: 198px;
height: 58px;
}
.company-two span{
background:url(../img/magneto.png) no-repeat;
width: 200px;
height: 69px;
}

.company-three span{
background:url(../img/boohoo.png) no-repeat; 
width: 201px;
height: 47px;
}

.company-four span{
background:url(../img/fractal.png) no-repeat; 
width:200px;
height:69px;
}
.btn-free{
    font-weight: 400;
    padding: 21px 56px;
    letter-spacing: 1.7px;
}
.btn-info{
    color:#888db6;
    background-color: transparent;
    border:1px solid #dce1e5;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.5px;
    padding: 21px 40px;
    border-radius: 30px;
    text-transform: uppercase;
    -webkit-transition:0.3s;
    transition:0.3s;
}
.btn-info:hover{
    color:#fff;
    background-color:#94b4cc;
    border:1px solid #94b4cc;
}
.grid{
    display: grid;
    grid-template-areas: "a b c"
                         "d b c"
                         "d f g"
                         "e f g"
                         "e h h";
    max-width: 1110px;
    margin:0 auto;
    grid-gap: 35px;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 15px;
    padding-right: 15px;
}
.grid-title{
    grid-area: a;
    
    
}
.grid-item-1{
    grid-area: b;
}
.grid-item-2{
    grid-area: c;
}
.grid-item-3{
    grid-area: d;
}
.grid-item-4{
    grid-area: e;
}
.grid-item-5{
    grid-area: f;
}
.grid-item-6{
    grid-area: g;
}
.grid-text{
    grid-area: h;
    font-weight: 400;
    font-size:16px;
    line-height: 26px;
    color:#7581a1;
    margin: 27px 0px 0px 15px;
}
.grid-text p:last-child{
    color:#1085e4;
}
.grid-text p:last-child span{
font-weight:bold;
color:#192b59;
}
.grid h2{
    font-size: 40px;
    font-weight: bold;
    color: #192b59;
    max-width: 260px;
    margin: 0;
    margin-left: -8px;
}
.grid h2 span{
    font-size: 14px;
    color: #60aeed;
    display: block;
    margin-bottom: 20px;   
}
.grid-item{
    text-align:center;
    -webkit-box-shadow:0 9px 20px #f4f4f4;
            box-shadow:0 9px 20px #f4f4f4;
    padding: 60px 55px 0px 55px;
}
.grid-item h3{
    font-size: 20px;
    color:#192b59;
    font-weight:600;
    margin-bottom: 18px;
}
.grid-item a{
    color:#1085e4;
    font-size:14px;
    font-weight: 600;
}
.grid-icon{
    background-repeat: no-repeat;
    display:block;
    margin:0 auto 36px;
    height: 92px;
    background-position: center;

}
.grid-icon-1{
    background-image: url(../img/icon-document.png);
    background-size:  73px 79px;
    
}
.grid-icon-2{
    background-image: url(../img/icon-custom.png);
    background-size:  89px 85px;
}
.grid-icon-3{
    background-image: url(../img/icon-mobile.png);
    background-size:  79px 82px;
}
.grid-icon-4{
    background-image: url(../img/icon-easy.png);
    background-size: 103px 92px;
}
.grid-icon-5{
    background-image: url(../img/icon-design.png);
    background-size:  85px 90px;
}
.grid-icon-6{
    background-image: url(../img/icon-online.png);
    background-size:  100px 87px;
}



.software-picture{
    display: block;
    width: 78%;
    height: 958px;
    background-image: url(../img/grab-bg1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 157px 0;
    position: absolute;
    left: -435px;
    bottom: -5px;
    z-index: -1;
}
.settings-icon{
    display: block;
    background-image: url(../img/grab-icon.png);
    background-repeat: no-repeat;
    background-position: -23px 0;
    width:115px;
    height:84px;
}
.page-software-flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    
}
.page-software-flex>div{
    -ms-flex-preferred-size:55%;
        flex-basis:55%;
}
.page-software .title-h2, .page-analytics .title-h2, .page-control .title-h2 {
    max-width: 550px;
    margin-top: 24px;
    margin-bottom: 28px;
}
.page-software-list{
    margin-top:30px;
    height: 323px;
    overflow:hidden;
    overflow-y: scroll;
    
}


.page-software-list dt{
color:#5a6789;
font-weight: 700;
margin-bottom: 10px;
}
.page-software-list dd{
    margin-left: 0;
    margin-bottom: 50px;
    font-size:14px;
    line-height:1.8;
}

.page-software-list::-webkit-scrollbar { width: 4px; height: 4px;}
.page-software-list::-webkit-scrollbar-button {  background-color: #1085e4; }
.page-software-list::-webkit-scrollbar-track-piece { background-color: #f3f6ff;}
.page-software-list::-webkit-scrollbar-thumb { height: 50px; background-color: #1085e4; border-radius: 10px;}



.subscribe-form h2{
    color: #fff;
    font-size: 50px;
    line-height: 26px;
    font-weight: 600;
    letter-spacing: -1.5px;
    }
.subscribe-form h2 span{
    display: block;
    color: #00bffe;
    font-weight: 800;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 2.9px;
    margin-bottom: 31px;
}
.subscribe-form p{
    margin-top: 45px;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #fff;
    width: 433px;
}

input[type="email"]::-webkit-input-placeholder {
    color:#b1c3ee;
    font-weight:400;
    font-size:14px;
    line-height:28px;
    padding-left: 17px;
}
input{
    background-color: transparent;
    border:none;
}
.btn-subscribe{
    
    color:#fff;
    font-size:14px;
    font-weight:bold;
    text-transform: uppercase;
    background-color:#1085e4;
}

 .robot{
     width:397px;
     height:468px;
     -webkit-filter: grayscale(100%);
             filter: grayscale(100%);
 }  
 .page-subscribe .wrap{
     position: relative;
 }
 .box-subscribe{
     display:-webkit-box;
     display:-ms-flexbox;
     display:flex;
     -webkit-box-pack: justify;
         -ms-flex-pack: justify;
             justify-content: space-between;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
     -ms-flex-wrap: wrap;
         flex-wrap: wrap;
 }
 .box-subscribe-text{
     font-size: 18px;
     max-width:437px;
     margin-top:33px;

 } 
 .box-subscribe-user{
     position: relative;
     margin-top:40px;
 }
 .box-subscribe-user input{
     border:2px solid #3f5cb1;
     border-radius: 45px;
     font-size:14px;
     background-color: transparent;
     padding: 25px 230px 25px 40px;
     display:block;
     width:100%;
     -webkit-box-sizing: border-box;
             box-sizing: border-box;
     color:#fff;
 }
 .box-subscribe-user .btn-primary{
    position:absolute;
    top:9px;
    right:8px;
    padding:17px 50px;
}    
 .box-subscribe-user input:focus, .box-subscribe-user .btn-primary:focus{
     outline: none;
 }
 .box-subscribe-child{
     -ms-flex-preferred-size:49%;
         flex-basis:49%;
 }
 
.box-subscribe-user input::-webkit-input-placeholder {
    padding:0;
    color:#b1c3ee;}
.box-subscribe-user input::-moz-placeholder{
    padding:0;
    color:#b1c3ee;}
    .box-subscribe-user input:-moz-placeholder{
        padding:0;
    color:#b1c3ee;}
.box-subscribe-user input:-ms-input-placeholder{
    padding:0;
    color:#b1c3ee;}

 

 .page-software p{
    font-weight:400;
}
.page-software dt{
    color:#5a6789;
    font-weight: bold;
}

.apps p{
    font-weight:400;
}
.apps p:nth-of-type(2){
    font-weight:400;
    text-transform: uppercase;
    color:#c4d2dd;
    letter-spacing: 2px;
}
.btn-analytics{
    font-weight:bold;
    font-size:12px;
    line-height: 90px;
    letter-spacing: 2px;
    color:#fff;
    background-color:#1085e4;
    }
 .btn-control{
    font-weight:bold;
    font-size:12px;
    line-height: 90px;
    letter-spacing: 2px;
    color:#fff;
    background-color:#1085e4;
 }   
 .page-screen h2 span{
     display:block;
    color:#1085e4;
    font-weight:800;
    font-size:18px;
    text-transform: uppercase;
    letter-spacing: 3.6px;
 }
 .page-app-text{
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #c4d2dd;
    margin-top: 26px;
    letter-spacing: 3.5px;
    margin-bottom: 22px;
 }
 .page-app-list{
     padding: 0;
     list-style-type: none;
     margin-left: -3px;
 }
 .page-app-list>li{
     display: inline-block;
 }
 .page-app-list>li>a{
     background-image: url(../img/app-btn.png);
     display: block;   
     width:185px;
     height: 78px;  
     background-repeat:no-repeat;
 }
 .page-app-list>li>a.page-app-android{
    background-position: -30px 10px;
 }
 .page-app-list>li>a.page-app-ios{
    background-position: -189px 0;
}
.content-app{
    width:55%;
}
a.video-app{
    position: absolute;
    top: -59px;
    right: -168px;
}
.flex-analytics{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.flex-analytics>div{
    -ms-flex-preferred-size: 55%;
        flex-basis: 55%;
}
.page-analytics-text{
    margin-bottom: 50px;
}

.flex-control{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.flex-control>div{
    -ms-flex-preferred-size: 55%;
        flex-basis: 55%;
}
.page-control .page-control-text{
    margin-bottom: 56px;
    margin-top: -4px;
}
.page-control .btn-primary{
    padding: 20px 62px;
}
 .list-stat{
     display:-webkit-box;
     display:-ms-flexbox;
     display:flex;
     list-style-type: none;
     -ms-flex-pack: distribute;
         justify-content: space-around;
     margin-top: 73px;
 }
 .list-stat>li{
     font-size: 12px;
     font-weight: 700;
     color:#1085e4;
     text-align: center;
     text-transform: uppercase;
     letter-spacing: 2.7px;
 }
 .list-stat>li>span{
    display: block;
    font-size: 60px;
    line-height: 30px;
    font-weight: bold;
    color: #bacbdc;
    margin-bottom: 23px;
    letter-spacing: 0;
 }
.screen{
    margin-top: 36px;
    margin-bottom: -7px;
    width:100%;
    max-width:1288px;
}
.box-price{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:justify;
        -ms-flex-pack:justify;
            justify-content:space-between;
    margin-top: 81px;
}

.box-price-item{
    background-color:#f5faff; 
    -ms-flex-preferred-size: 32%; 
        flex-basis: 32%;
    padding-bottom: 96px;
   
}
.box-price-item.active{
    background-color:#192b59; 
    color:#fff;
}

.box-price-item ul{
    list-style-type: none;
    padding-left:0;
    font-size: 14px;
    line-height: 40px;
    margin-top: 28px;
    margin-bottom: 53px;
}
.box-price-item h3 {
    
    font-size: 70px;
    padding-top: 19px;
    letter-spacing: -1.1px;
    margin-bottom: -8px;
}

.box-price-item h3 span {
    font-size: 20px;
    line-height: 40px;
}

.box-price-item h3 span:nth-of-type(2) {
    color: #7b8ab2;
}
.box-price-item strong {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2.9px;
}
.box-price-item .btn-primary,
.box-price-item .btn-info {
    padding: 20px 61px;
}
.box-price-item:nth-of-type(1) h3 {
    color: #000958;
    margin-bottom: 34px;
}

.box-price div:nth-of-type(2n+1) strong {
    color: #0084ff;
}

.box-price div:nth-of-type(3) h3 {
    color: #192b59;
}
.box-clients{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;  
    margin-top:63px;  
}
.box-clients-item{
    background-color: #fff;
    padding: 21px 42px;
    border-radius: 10px;
    -ms-flex-preferred-size: 31.5%;
        flex-basis: 31.5%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size:14px;
    -webkit-box-shadow:0 9px 20px #f4f4f4;
            box-shadow:0 9px 20px #f4f4f4;
}
.box-clients-item p{
    margin-bottom:4px
}
.box-clients-item .name{
    font-size: 22px;
    font-weight: 600;
    color: #000958;
    margin-bottom: 0;
    letter-spacing: -0.6px;
    line-height: 1.1;
}
.box-clients-item .position{
    font-size: 14px;
    text-transform: uppercase;
    color: #1085e4;
    font-weight: 700;
    margin-top: 0;
    letter-spacing: 3px;
}
.box-info{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.box-info>div{
    padding-left:17px;
}
.box-team{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 138px;
}
.box-team-item{
    position: relative;
    background-color: #fff;
    -ms-flex-preferred-size:31.5%;
        flex-basis:31.5%;
    -webkit-box-shadow:0 5px 6px #f4f4f4;
            box-shadow:0 5px 6px #f4f4f4;
    padding: 193px 56px 40px 56px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.box-team-item .position{
    font-size: 14px;
    text-transform: uppercase;
    color:#1a88e1;
    font-weight: 900;
    margin-bottom: 0;
    margin-top: 15px;
    letter-spacing: 2.8px;
}
.box-team-item .name{
    font-size: 26px;
    color:#192b59;
    font-weight: 600;
    margin-top: 8px;
    letter-spacing: -0.9px;
}
.box-team-item .avatar{
    position: absolute;
    top:-86px;
    left:0;
    right:0;
    margin:0 auto;
}
.box-team-item .btn-team{
    background-color:#f3f3f3;
    border-radius: 100%;
    display: block;
    width: 50px;
    height: 50px;
    margin:0 auto;
    border:none;
    padding: 0;
}
.box-team-item .btn-team:hover{
    background-color: #1a88e1;
}
.box-team-item .btn-team span{
    
    background-image: url(../img/btn-team.png);
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto;
}
.box-team-item .btn-more span{
    background-position: -13px -11px;
    width: 20px;
    height: 20px;
}
.box-team-item .btn-fb span{
    background-position: -54px 5px;
    width: 25px;
    height: 38px;
}
.box-team-item .btn-fb:hover span{
    background-position: -54px -26px;
    width: 25px;
    height: 38px;
}
.box-team-item .btn-tw span{
    background-position: -104px 5px;
    width: 20px;
    height: 40px;
}
.box-team-item .btn-tw:hover span{
    background-position: -102px -27px;
    width: 25px;
    height: 38px;
}
.box-team-item .btn-be span{
    background-position: -161px 5px;
    width: 25px;
    height: 38px;
}
.box-team-item .btn-be:hover span{
    background-position: -161px -26px;
    width: 25px;
    height: 38px;
}
.box-team-item .btn-web span{
    background-position: -222px 5px;
    width: 25px;
    height: 38px;
}
.box-team-item .btn-web:hover span{
    background-position: -222px -25px;
    width: 25px;
    height: 38px;
}
.box-team-item .btn-more:hover span{
    background-position: -13px -41px;
}

.box-team-item .btn-more:focus{
    outline: none;
}
.social-team{
    list-style-type: none; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding:0;
    margin: 0;
}
.object-circle{
    display: block;
    position: absolute;
    background-image: url(../img/circle-gray.svg);
    background-repeat: no-repeat;
    width: 489px;
    height: 663px;
    top: 145px;
    left: -275px;
    background-size: contain;
}
.object-rhombus{
    display: block;
    position: absolute;
    background-image: url(../img/rhombus-gray.svg);
    background-repeat: no-repeat;
    width: 657px;
    height: 777px;
    top: -244px;
    right: -351px;
    background-size: contain;
    
}
.intro{
    color:rgba(0,0,0,0.04);
    font-size: 300px;
    font-weight: 900;
    line-height: 0;
    position: absolute;
    left:0;
    right:0;
    text-align: center;
    top:40px;
    margin:0;
}
.contact-form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 51px
}
.contact-form input, .contact-form textarea{
font-size: 14px;
border:2px solid #dce4ec;
padding: 25px 80px 25px 37px;
border-radius:35px;
width: 100%;
background: #fff;
-webkit-box-sizing: border-box;
        box-sizing: border-box;
}
.contact-form input:focus, .contact-form textarea:focus{
    outline: none;
}
.contact-form input::-webkit-input-placeholder, .contact-form textarea::-webkit-input-placeholder {
     color:#8995b3;}
.contact-form  input::-moz-placeholder, .contact-form  textarea::-moz-placeholder{
     color:#8995b3;}
.contact-form  input:-moz-placeholder, .contact-form  textarea:-moz-placeholder{
     color:#8995b3;}
.contact-form  input:-ms-input-placeholder, .contact-form  textarea:-ms-input-placeholder{
     color:#8995b3;}
.contact-form .btn-primary{
     position: relative;
     padding: 22px 40px 22px 65px;
     max-width: 232px;
     letter-spacing: 2px;
 }  
 .contact-form .btn-primary::before{
     content: "";
     display: block;
     position: absolute;
     background: url(../img/plane.png);
     width:13px;
     height:12px;
     left:54px;
     top:calc(50% - 6px);
 }  
 
.flex-form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width:1090px;
    margin: 0 auto;
}
.flex-form img{
    margin-right:60px;
}
.flex-form>div{
    -ms-flex-preferred-size:47%;
        flex-basis:47%;
}
.contact-form-item{
    position: relative;
    margin-bottom: 19px;
}
.contact-form-item.contact-form-text{
    margin-bottom: 34px;
}
.contact-form-item::after{
    content: "";
    display: block;
    position: absolute;
    right: 40px;
    background-repeat: no-repeat;
}
.contact-form-name::after{
    background-image: url(../img/icon-name.png);
    width: 13px;
    height:15px;
    top:calc(50% - 7px);
}
.contact-form-mail::after{
    background-image: url(../img/icon-mail.png);
    width: 14px;
    height:11px;
    top:calc(50% - 5px);
}
.contact-form-text::after{
    background-image: url(../img/icon-text.png);
    width: 14px;
    height:15px;
    top:28px;
}
.contact-form textarea{
    min-height: 160px;
    resize: none;
}
.flex-footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.flex-footer p{
    font-size: 16px;
    line-height: 40px;
    color:#fff;
}
.flex-footer .head-link{
    text-transform: uppercase;
    color:#1085e4;
}
.social{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-preferred-size: 16%;
        flex-basis: 16%;
}
.social li{
    list-style-type: none;
}
.social-btn{
    position: relative;
    display: block;
    background:url(../img/social-icons.png) no-repeat;
    width:20px;
    height:16px;
    top:0;
    left:0;
}
.social-btn.social-tw{
    background-position: -35px 0px;
}
.social-btn.social-be{
    background-position: -75px 0px;
}
.social-btn.social-pin{
    background-position: -117px 0px;
}
.social-btn.social-f{
    background-position: -155px 0px;
}
.social-btn:hover{
    background-position: 0 -23px;
}
.social-btn.social-tw:hover{
    background-position: -35px -23px;
}
.social-btn.social-be:hover{
    background-position: -75px -23px;
}
.social-btn.social-pin:hover{
    background-position: -117px -23px;
}
.social-btn.social-f:hover{
    background-position: -155px -23px;
}
 /*Page*/
 .page-header{
     background-image: url(../img/header-bg.png);
     background-repeat: no-repeat;
     background-size: cover;
     padding: 53px 0 328px 0; 
     position: relative;    
 }
 .page-company{
     background:url(../img/brand-bg.png) no-repeat;
     background-size: cover;
     padding: 106px 0 99px;
 }
.page-stat, .page-screen{
    background-color:#edf6ff;
}
.page-software{
    
    padding:109px 0 156px 0;
    position: relative;
    overflow: hidden;
    
}

.page-stat{
    padding: 129px 0 97px 0;
    position: relative;
}
.page-plan{
    padding: 81px 0 121px 0;
}
.page-plan, .page-screen{
    text-align: center;
}
.page-screen{
    padding: 97px 0 0 0;
    margin-top: 30px;
}
.page-grid{
    padding:118px 0 96px 0;
}
.page-subscribe{
    color:#fff;
    background: rgba(10,32,144,1);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(10,32,144,1)), color-stop(100%, rgba(35,120,205,1)));
    background: linear-gradient(135deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a2090', endColorstr='#2378cd', GradientType=1 );  
    padding: 30px 0 23px 0;
}

.page-app{
    position: relative;
    padding: 69px 0 56px 0;
}
.page-app .wrap{
    position: relative;
}
.page-analytics{
    background-image:url(../img/bg-analytics.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0 137px 0;
}
.page-control{
    background-image:url(../img/easy-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 121px 0 107px 0;
}
.page-clients{
    position:relative;
    margin-top: 119px;
    padding: 44px 0 0 0;
    
}
.page-clients::before{
    position: absolute;
    content:'';
    display: block;
    width:100%;
    height: 100%;
    background-image:url(../img/vector.svg);
    background-repeat: no-repeat;
    left: 0;
    top:0;
    z-index:-1;
}
.page-clients .title-40, .page-team .title-40{
    color:#fff;
}
.page-clients .title-40 span, .page-team .title-40 span{
    color:#85c8ff;
}
.page-team{
    text-align: center;
    background-image:url(../img/team-bg.png);
    background-position: top center;
    background-repeat: no-repeat;
    padding: 83px 0 120px 0;
}
.page-form{
    background-image: url(../img/start-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 70px 0 121px 0;
}
.footer{
    background: #192b59;
}
/*MEDIA*/
@media(max-width:1500px){
    .screen-img{
        background-size: cover;
        width: 50%;
        height: 735px;
        right: -79px;
    }
    a.video-app{
        top:-23px;
        right:0;
    }
    a.video-app img{
        width:482px;
    }
    .software-picture{
}
@media(max-width:1400px){
    .software-picture{
        display: none;
    }
    .page-software-flex{
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }    
    
}
@media (max-width:1100px){
    .nav, .screen-img{
        display: none;
    }
    .btn-menu{
        display: block;
    }
    h1{
        margin-bottom: 65px;
        text-align: center;
        margin:0 auto 45px;
    }
    .btn-group{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .box-header{
        margin-bottom: 100px;
    }
    .page-header{
        padding: 53px 0 150px 0;
    }
    .content-app {
        width: 70%;
        text-align: center;
        margin: 0 auto;
    }
    a.video-app {
        top: -492px;
        right: 0px;
        left: 0;
        width: 558px;
        height: 522px;
        margin: 0 auto;
        text-align: center;
    }
    .page-app{
        padding: 500px 0 56px 0;
    }
    .flex-analytics>div{
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    }
    .flex-control>div{
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    }
}
@media (max-width:1050px){
    .list-company-item{
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
        margin-bottom: 50px;
    }
    .list-company-item span{
        margin: 0 auto;
    }
    .page-company{
        padding: 50px 0 22px;
    }
    .grid{
        grid-template-areas: "a a"
                            "b c"
                            "d e"
                            "f g"
                            "h h";
        grid-template-columns: 1fr 1fr;                    
    }
    .grid h2{
        text-align: center;
    }
    .grid h2 span{
        margin-bottom: 10px;
    }
    .page-subscribe{
        padding: 50px 0 65px 0;
        
    }
    .box-subscribe{
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }
    .box-subscribe-child{
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
        text-align: center;
        
    }
    .box-subscribe-child p{
        margin:0 auto;
       
    }
    .box-subscribe .robot{
        margin: 0 auto 49px;
    }  
    .flex-form>div {
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    }
   
}          

@media (max-width:950px){
    .flex-analytics{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        text-align: center;
        margin:0 auto;
    }
    .flex-analytics .title-h2, .flex-control .title-h2{
        margin:0 auto;
    }
    .flex-analytics .settings-icon, .flex-control .settings-icon{
        margin:0 auto;
    }
    .flex-control{
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        text-align: center;
        margin:0 auto;
    }
    .page-analytics-text, .page-control-text{
    max-width: 650px;
    padding-top:15px;
    }

    .flex-form {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        max-width: 450px;
    }
    .flex-form>div:nth-of-type(1){
        display: none;
    }
    .flex-form>div {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    }
    .flex-form .title-h2 {
        text-align: center;
    }
    .contact-form .btn-primary {
        margin: 0 auto;
    }
    .contact-form .btn-primary::before {
        left: 40px;
    }
    .flex-form .title-h2 {
        text-align: center;
        white-space: nowrap;
} 
@media (max-width:900px){
    .page-clients{
        margin-top: 90px;
    }
    .box-clients{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .box-clients-item{
        max-width:600px;
        margin-bottom: 20px;
        background-color: #f8f8f8;
        -webkit-box-shadow: 0 9px 10px #f4f4f4;
                box-shadow: 0 9px 10px #f4f4f4;
    }
    .page-plan{
        padding: 60px 0 85px 0;
    }
    .box-price{
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
            -ms-flex-direction:column;
                flex-direction:column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-top: 50px;
    }
    .box-price-item{
        padding: 0px 100px 96px 100px;
        margin-bottom: 25px;
    }
    .box-team{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .box-team-item{
    background-color: #f8f8f8;
    min-width: 410px;
    margin-bottom: 121px;
    padding: 83px 0 30px 0;
    }
    .box-team-item .position{
        margin-top:115px;
    }
    .social-team{
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
    }
    .page-team{
        padding: 83px 0 0px 0;
    }
}   
    
    

@media (max-width:800px){
    .intro{
        display: none;
    }
}
@media (max-width:600px){
    h1{
        font-size: 40px;
        margin: 0 auto 30px;
        line-height: 1;
    }
    .btn-primary, .btn-secondary{
        padding: 15px 40px;
        font-size:11px;
    }
    .btn-group{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin:0 auto;
        max-width:300px;
        text-align: center;
    }
    .btn-group a + a{
        margin-left: 0px;
    }
    .btn-group a{
        margin-bottom: 10px;
    }
    .grid{
        grid-template-areas: "a "
                            "b "
                            "c"
                            "d"
                            "e"
                            "f"
                            "g"
                            "h";
        grid-template-columns: 1fr; 
        grid-gap: 15px;
    }
    .grid-title{
        justify-self: center;
    }
    .page-grid{
        padding: 80px 0 75px 0;
    }
    .grid h2{
        margin: 0;
    }
    .page-subscribe .title-h2{
        font-size: 35px;
    }
    .robot{
        width:280px;
        height: auto;
    }
    .robot img{
        width:280px;
    }
    .box-subscribe-user input{
        padding: 15px 20px 15px 20px;
        margin-bottom: 10px;
    }
    .box-subscribe-user .btn-primary{
        position: inherit;
    }
    .software-picture{
        display:none;
    }
    .title-h2{
        font-size:33px;
    }
    .list-stat{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        padding-left: 0;
    }
    .list-stat>li{
        width:40%;
        margin-bottom: 20px;
    }
    .object-rhombus{
        display: none;
    }
    .page-stat{
        padding: 80px 0 45px 0;
    }
    .page-software{
        padding: 75px 0 75px 0;
    }
    body{
        font-size:14px;
    }
    .content-app{
        width: 100%;
    }
    a.video-app img{
        width: 320px;
    }
    .page-app{
        padding: 352px 0 40px 0;
    }
    a.video-app{
        top: -328px;
        width: 320px;
        height: auto;
        
    }
    .flex-analytics .settings-icon, .flex-control>div .settings-icon{
        display: none;
    }
    .flex-analytics img, .page-control img{
        width: 310px;
    }
    .page-analytics, .page-control{
        padding: 80px 0 70px 0;
    }
    .flex-analytics .title-h2, .flex-control .title-h2{
        padding-top: 15px;
    }
    .title-40{
        font-size: 33px;
    }
    .title-40 span{
        font-size:14px;
    }
    .page-screen{
        padding: 70px 0 0px 0;
    }
    
}
@media (max-width:520px){
    .box-price-item{
        padding: 0px 0px 96px 0px;
    }
    .box-price-item h3{
        font-size: 60px;
    }
    .box-price-item ul li{
        font-size: 12px;
    }
    .box-team-item{
        min-width: 320px;
    }
    .flex-form .title-h2 {
        font-size: 30px;
    }
    .page-form{
        padding: 60px 0 100px 0;
    }
    .flex-footer{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        
        text-align: center;
    }
    .flex-footer .social{
        
        -webkit-box-pack:justify;
        
            -ms-flex-pack:justify;
        
                justify-content:space-between;
        
    }
    .flex-footer .social li{
        -ms-flex-preferred-size: 15%;
            flex-basis: 15%;
    }
}
}}